<h1 class="display-4">Your Posts</h1>
<a href="/">Home</a>
{{#if loggedIn}}
<button class="btn btn-primary delete-post">Create A New Post</button>
{{#each blogPosts}}
    <div class="card my-4">
        <div class="card-body">
            <h2 class="card-title">{{title}}</h2>
            <p class="card-text">{{body}}</p>
            <p class="card-subtitle mb-2 text-muted">Created On: {{created_on}}</p>
            </ul>
             <button class="btn btn-danger delete-post" data-post-id="{{id}}">Delete</button>
        </div>
    </div>
{{/each}}
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}
<script src="./js/delete.js"></script>
<script src="./js/update.js"></script>
