<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1 class="display-4">Welcome to the Tech Blog</h1>
            {{#if loggedIn}}
            <a href="/dashboard" class="btn btn-primary mb-3">Dashboard</a>
            <button id="logout" class="btn btn-danger mb-3">Logout</button>
            {{else}}
            <a href="/login" class="btn btn-warning">You must log in to view Your Dashboard</a>
            {{/if}}
            {{#each blogPosts}}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{title}}</h2>
                    <p class="card-text">{{body}}</p>
                    <p class="card-subtitle mb-2 text-muted">Created On: {{created_on}} Created By: {{user.name}}</p>
                    <a href="/post/{{id}}" class="btn btn-primary">Comment</a>
                    <h3>Comments:</h3>
                    <ul class="list-group">
                        {{#each comments}}
                        <li class="list-group-item">{{content}}</li>
                        <li class="list-group-item small">Created on: {{created_on}} <span class="small">- Created by: {{user.name}}</span></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<script src="./js/login.js"></script>
<script src="./js/logout.js"></script>


