<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h1 class="display-4">Leave a Comment</h1>
            {{#if loggedIn}}
            <div class="container mt-4">
            <div class="row">
                <div class="col">
                <h2 class="card-title">{{blogPost.title}}</h2>
                <p class="card-text">{{blogPost.body}}</p>
                <p class="card-subtitle mb-2 text-muted">Created On: {{blogPost.created_on}}</p>
                <h3>Comments:</h3>
                <ul class="list-group">
                </ul>
                <h3>Add a Comment:</h3>
                <form action="/api/comments" method="POST">
                    <input type="hidden" name="blog_post_id" value="{{blogPost.id}}">
                    <div class="form-group">
                    <label for="commentContent">Comment:</label>
                    <textarea class="form-control" id="commentContent" name="content" rows="4" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Comment</button>
                </form>
                </div>
            </div>
            </div>
            {{else}}
            <a href="/login">You must login first to create a new post</a>
            {{/if}}
        </div>
    </div>
</div>